html, body
{
    font-family: ubuntu;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 540px;
    min-width: 500px;
    font-size: 16px;
    user-select: none;
    cursor: default;
    color: #f0f1f2;
    -webkit-user-select: none;
}

html {
    display: block;
}
*::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
*::-webkit-scrollbar-thumb {
    background-color: #7e878e;
    border-radius: .5em;
}
*::-webkit-scrollbar-track {
    background: rgba(126,135,142,0.25);
}


html>.container, body>.container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: initial;
}

@media (max-width: 900px) body>.container>.app
{
  display: block;
  position:relative;
  background: #e7e9ea;
}

html>.container>.app, body>.container>.app {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

html>.container, body>.container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
}

.container .header
{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #101112;
    padding: 0 1rem;
    height: 54px;
    z-index: 1000;
}

.sidebar>.min .options{
    -webkit-box-flex: 1;
    flex: 1 1 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow-y: auto;
    background: #3a3e41;
    border-bottom: 2px solid #3a3e41;
}

/*
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
*/

.container .header ul {
    padding: 0;
    white-space: nowrap;
}

.container .header ul.keys {
    text-align: right;
}

.app .leftmenu, .container .header{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.leftmenu{
height: 100%;
  display: flex;
  width: 108px;
  min-width:108px;
  background-color: #282b2d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #f0f1f2;
  border-right: 1px solid #3a3e41;
  //box-shadow: 1px 2px 8px rgba(0,0,0,0.45);
  z-index: 5;
}

.leftmenu header.row{
    -webkit-box-flex: 0;
    flex: 0 0 2.5rem;
    padding: 0;
}

.leftmenu header.row .backrow {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: .5rem 0;
}

/*
.leftmenu .row .label, .letmenu .options>li input, .leftmenu .options>li .label {
    -webkit-box-flex: 1;
    flex: 1;
}
*/

.leftmenu .content{
    position: relative;
    display: none;
    flex-basis: 0px; flex-shrink:1;
    //background-color: #f0f1f2;
    padding:8px;
    border-radius: 5px;
    line-height: 22.4px;
    margin:0;
  }

body>.container>.app>.leftmenu {
    width: 108px;
    min-width: 108px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.45);
    opacity: 1;
}

/*
body>.container>.app>.leftmenu .expand{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    transition: width .2s ease-out;
//    width: calc(10% + 350px);
    box-shadow: 10px 0 12px rgba(0,0,0,0.45);
    background: #282b2d;
    opacity: .94;
}
*/

section{
    //position: blocker;
    display: block;
    overflow-y: scroll;
    flex: 0 6.25rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 6.25rem;
    padding: 0 1rem;
    padding-top: 0px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-left: 1rem;
}

.selected {
  color: #000;
  background-color: yellow;
}

.blur-me {
    z-index: 1;
  filter: blur(2px);
}


.feedback>section.documents {
    -webkit-box-flex: 0;
    flex: 0 6.25rem;
}

.feedback>section.log>.documents {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}

.feedback>section {
    background: #f0f1f2;
    color: #575e63;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    transition: -webkit-box-flex .2s ease-out;
    transition: flex .2s ease-out;
    transition: flex .2s ease-out,-webkit-box-flex .2s ease-out;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.feedback>section>header {
    color: black;
    //background: #b7bcc0;
}


@media (max-width: 900px)
body>.container>.app>.feedback {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 108px;
    right: 0;
}


body>.container{
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}

.feedback >section.text>.documents {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}

.feedback>section.text>.documents>.pad {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
}

.feedback {
    -webkit-box-flex: 8;
    flex: 8 800px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
}





body>.container>.app>.doc>.blocker {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(215,218,220,0.5);
    z-index: 10;
}


#close_app {
 background-color: transparent;
 text-decoration: none !important;
 display: inline-block;
 float: right;
 color: white;
 cursor: pointer;
}



/*
#item-list {
  border-collapse: collapse;
  box-sizing: border-box;
  display: left;
  text-align: left;
  width: 100%;
  font-size: 0.674rem;
}

#item-list td[name=date]{
    width: 5%;
}


#item-list td, th {
 border: 1px solid #868f9d;
 color: #26282b;
 padding-left: 6px;
}

//#item-list tr:hover {background-color: #ddd;}

#item-list th {
     background-color: #5583a7;
     color: #eceef0;
}

#item-list tr {
  cursor: pointer;
  text-align: left;
  color: #26282b;
}
*/

form:after{
    content: '';
    clear: both;
    display: block;
}

input[type=text],
select, textarea, input[type=submit]{
  padding: 6px 12px 6px 12px;
  margin-bottom: 6px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  resize: horizontal;
}

textarea {
     width: 80%;
     height: 33%;
}

input[name=fname], input[name=lname], input[name:email]
{
    width: 100%;
}

input[type=submit],input[type=apply]{
  background-color: #4285F4;
  position:absolute;
  display:block;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: white;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
  float: bottom-left;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
}

input[type=submit],input[type=apply]:hover {
  background-color: #3F729B;
}

.options {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.options li {
    text-align:center;
    font-weight: 400;
    background-color: #f0f1f2;
    text-transform: uppercase;
    cursor: pointer;
    margin-left:5px;
    margin-right:5px;
    margin-bottom: 10px;
    border: 2px solid rgba(27, 31, 35, 0.2);
    display: block;
}



#item-list{
    list-style-type: none;
    padding: 0;
}


li{
    padding: 16px 16px;
    background: #f6f6f6;
    color: #555;
    max-width: 740px;
    position: relative;
    height: 100%;
    border: 1px solid #7ec2d7;
    border-bottom: 16px solid #7ec2d7;
    cursor: pointer;
}

li span{
    display: block;
    font-size: 14px;
    margin-top: 3px;
    font-size-adjust:auto;

    color: #999;
}

li span:nth-child(1){
  float: right;
  font-weight: 500;
  font-size: 10px;
}

li span:nth-child(2), li span:nth-child(3),
li span:nth-child(4){
  font-weight: 550;
  font-size: 12px;
}

li span:nth-child(6){
  font-style:oblique;
  border-top: 1px dashed #e6e6e6;
  font-size: 12px;
  text-align: justify center;
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 16px;
  width: 80%;
}


li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 100px;
    text-align: center;
    padding: 6px 6px;
    font-weight:  400;
    cursor:  pointer;
}
