body {
    background-color: #101112;
    font-family: ubuntu;
}
* {
  box-sizing: border-box;
}



h1{
    //background-color: #77ee80d1;
    color: #f0f1f2;
    font-size: 48px;
    letter-spacing: 2px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px 2px black;
}

.content{
    background-color: #f0f1f2;
    max-width: 640px; //960px;
    max-height: 480px;
    margin: 10px 30px 10px 30px;//30px auto;
    padding:  10px 15px;//20px 30px;
    border-radius: 5px 60px 5px 5px;//10px 120px 10px 10px;
}

a {
 color:	#575e63;
 background-color: transparent;
 text-decoration: none !important;
 display: inline-block;
    margin: 20px auto;
    padding: 10px;
}

#item-list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:white;
  border-collapse: collapse;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;//10px 120px 10px 10px;
  width: 100%;
}

#item-list tr td:first-child {
    width: 5%;
}

#item-list tr td:last-child {
    width: 25%;
}

#item-list td, #item-list th {
  border: 1px solid #26282b;
  padding: 8px;
}

#item-list tr:nth-child(even){background-color: #f2f2f2;}

#item-list tr:hover {background-color: #ddd;}

#item-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  text-align: left;
  background-color: #70b0e0;
  color: #26282b;
}

form label {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  display: inline-block;
}


/*
form input{
    float: left;
    width: 50%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}
*/

form:after{
    content: '';
    clear: both;
    display: block;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 4px;//8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;//6px;
  margin-bottom: 8px;//16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4285F4;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
    font-weight: 600;
    line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
}

input[type=submit]:hover {
  background-color: #3F729B;
}

button{
    border: 1px solid rgba(27, 31, 35, 0.2);
    background-color: #fff;
    border-radius: .25em;
    padding: 6px 12px 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    color: black;
    font-size: 14px;
    font-family: ubuntu;
    cursor: pointer;
}
